@(message: String)

@admin(".:: Административен панел ::.") {

<div class="login-panel">

    <div class="row">

        <div class="cold-md-12">
            @if(flash.contains("success")) {
            <div class="alert alert-success">@flash.get("success")</div>
            }
            @if(flash.contains("error")) {
            <div class="alert alert-danger">@flash.get("error")</div>
            }
        </div>

        <div class="clear"></div>

        <div class="col-md-12">

            <p>Добре дошли на административния панел на онлайн библиотеката за книги-игри. От тук можете да добавяте нови
            заглавия ръчно или чрез опцията за импортиране, да редактирате информацията за стари, да оправяте сгрешени
            препратки в съществуващите книги, или да управлявате всички потребители на системата.</p>

            <p>Приятно прекарване и <strong>Игрите с вас!</strong></p>

            <p><em>От екипа на "Онлайн библиотека за книги-игри".</em></p>

        </div>


    </div>
</div>

}


