@(message: String)(gamebook: Gamebook)(episode: Episode)

@admin(".:: Редактиране на епизод ::.") {

    <script>

        function replaceRange(s, start, end, substitute) {
            return s.substring(0, start) + substitute + s.substring(end);
        }

        function isNumeric(num){
            return !isNaN(num)
        }


        $(function() {
            $("textarea").htmlarea({
                toolbar: [
                    ["html"],
                    ["bold", "italic", "underline"],
                    [
                        {
                            css: 'hashtagbtn',

                            'text': 'Toggle hashtags',

                            'action' : function (btn) {
                                // 'this' = jHtmlArea object
                                // 'btn' = jQuery object that represents the <a> ("anchor") tag for the toolbar button

                                // Take some action or do something here

                                if( isNumeric(this.getSelectedHTML()) ) {
                                    str = this.toHtmlString();

                                    str = str.replace(this.getSelectedHTML(), "###" + this.getSelectedHTML() + "###");

                                    this.html(str);

                                    this.updateTextArea();
                                }
                                else {
                                    alert("Невалидна стойност! Трябва да изберете число!");
                                }
                            }
                        }
                    ]
                    /* ["bold", "italic", "underline", "|", "link", "unlink", "|"] */
                ]
            });
        });
    </script>

    <style>
        .jHtmlArea { width:100% !important; }
    </style>

    <div class="row">

        <div class="clear"></div>

        <div class="col-md-12">

            <h2>Редактиране на епизод към книга-игра @gamebook.getTitle()</h2>

            <form action="@controllers.admin.routes.Admin.saveEpisode()" method="post" role="form">

                <div class="form-group">
                    <label for="number">Номер:</label>
                    <input id="number" class="form-control" type="number" name="number" value="@episode.getNumber()">
                    <input id="gamebook_id" class="form-control" type="hidden" name="gamebook_id" value="@gamebook.getId()">
                    <input id="id" class="form-control" type="hidden" name="id" value="@episode.getId()">
                </div>

                <div class="form-group">
                    <label for="text">Въведете текст:</label>
                    <textarea id="editor" name="text" id="text" class="form-control" rows="15">
                        @episode.getText()
                    </textarea>
                </div>

                <button type="submit" class="btn btn-primary">Запази</button>

                <a href="@controllers.admin.routes.Admin.listGamebooks()" class="btn btn-default">Затвори</a>

            </form>


        </div>


    </div>

}


