@(message: String)

@bookimport(".:: Хуаранг и Кумихо ::.") {

        <script>
            function saveBook() {
                $.ajax({
                    type :  "POST",
                    dataType: 'json',
                    data: JSON.stringify( { title: 'Some Title', episodesString: 'aaaaaaaaa!#$bbbbbbbb!#$ccccccccc' } ),
                    url  :  "@controllers.admin.routes.Admin.saveImportGamebook()",
                    success: function(data){
                        console.log(data);
                    }
                });
            }
        </script>

<form id = 'fileForm' >
    <div class="input-container">
        <input type="file" name="fileToUpload" id="fileField" class="hidden-input" onchange="fileSelected();"/>

        <div class="" id="fileInputLabel">Няма избран файл.</div>
        <div class="fake-btn btn btn-primary" onclick="triggerInputField('fileField');">Browse</div>
        <div class="fake-btn btn btn-primary" onclick="saveBook();">Save</div>
    </div>
</form>
<div class="centeredContainer">
    <div class="navigation floatLeft" id="sideMenu">
        <div class="menu-btn btn icon-link"></div>
        <div class="menu-btn btn icon-unlink"></div>
        <div class="menu-btn btn icon-ellipsis"></div>
        <div class="menu-btn btn icon-cancel-circled"></div>
    </div>
    <div id="textContainer" class="textContainer selectable">
        Няма налични данни.
    </div>
    <div style="clear:both;"></div>
</div>
<div class="floatingMenu" id="floatingMenu" >
    <div class="menu-btn btn icon-link"></div>
    <div class="menu-btn btn icon-unlink"></div>
    <div class="menu-btn btn icon-ellipsis"></div>
    <div class="menu-btn btn icon-cancel-circled"></div>
</div>

}
