@(message: String)(gamebook: Gamebook)(episodes: List[Episode])

@admin(".:: Преглед на книга-игра ::.") {

    <script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });

    </script>

    <div class="row">

        <div class="clear"></div>

        <div class="col-md-12">

            <h2>Преглед на книга-игра</h2>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td> <strong>Заглавие:</strong> </td>
                        <td> @gamebook.getTitle() </td>
                    </tr>
                    <tr>
                        <td> <strong>Автор:</strong> </td>
                        <td> @gamebook.getAuthor() </td>
                    </tr>
                    <tr>
                        <td> <strong>Година:</strong> </td>
                        <td> @gamebook.getYear() </td>
                    </tr>
                    <tr>
                        <td> <strong>Последна промяна:</strong> </td>
                        <td> @gamebook.getDateCreated() </td>
                    </tr>
                    <tr>
                        <td> <strong>Интро текст:</strong> </td>
                        <td> @Html(gamebook.getIntro()) </td>
                    </tr>
                    <tr>
                        <td> <strong>Корица:</strong> </td>
                        <td>
                            @if(gamebook.getPicture() != null){
                            <img src="@routes.Assets.at(gamebook.getPicture())" class="img-responsive">
                            } else {
                            <img src='@routes.Assets.at("images/covers/no-cover.jpg")' class="img-responsive">
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="@controllers.admin.routes.Admin.listGamebooks()" class="btn btn-default">Затвори</a>

            <a href="@controllers.admin.routes.Admin.createEpisode(gamebook.getId())" class="btn btn-primary">Добави нов епизод</a>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <h2>Епизоди</h2>

            <table class="table table-striped">
                <tr>
                    <th>Номер на епизод</th>
                    <th>Текст</th>
                    <th>Действие</th>
                </tr>

                @for(episode <- episodes) {
                <tr>
                    <td> <div id="episode@episode.getNumber().toString"> <strong>@Html(episode.getNumber().toString).</strong> </div> </td>
                    <td> @Html(episode.getText()) </td>
                    <td>

                        <form method="post" action="@controllers.admin.routes.Admin.deleteEpisode(episode.getId())">
                            <a href="@controllers.admin.routes.Admin.editEpisode(episode.getId())" class="btn btn-warning tooltipped" data-toggle="tooltip" data-placement="top" title="Редактирай"><span class="glyphicon glyphicon-pencil"></span></a>
                            <button type="submit" class="btn btn-danger tooltipped" data-toggle="tooltip" data-placement="top" title="Изтрий"><span class="glyphicon glyphicon-trash"></span></button>
                        </form>
                    </td>
                </tr>
                }
            </table>


        </div>

    </div>

}


