body
{
    background: #060606 url('../images/dashboard.jpg') no-repeat bottom left fixed;
    color: #585858;
    font-size: 14px;
}

h1, h2, h3{
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 30px;
    margin: 10px 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;

    font-weight: 400;
    color: #262626;
}

.panel {
    border-radius: 0px;
}


a:focus{
    outline: none;
}

a {
    transition: all 0.2s ease-out 0s;
}

.panel{
    border-color: #fff;
}

.dashboard-menu{
     background: none;
     height: 78px;
     border: none;
     border-radius: 0px;
     margin-top: 30px;
     background-color: rgba(255, 255, 255, 0.2);
     background-image: url(../images/logo-bg.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
     background-repeat: no-repeat, repeat-x;
     border-top: 4px solid #56b056;
     box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1) inset;
     margin: 66px auto 0px;
}

.dashboard-menu .navbar-brand{
    color: #383838;
    font-family: 'Marck Script', cursive;
}

.dashboard-menu .navbar-brand:hover{
    color: #279927;
}

.navbar-brand{
    font-size: 26px;
    line-height: 24px;
}

.dashboard-menu .dashboard-nav > li > a:hover, .dashboard-menu .dashboard-nav > li > a:focus, .dashboard-menu .navbar-nav > li > a:hover, .dashboard-menu .navbar-nav > li > a:focus{
    color: #fff;
    text-shadow: none;
}

.dashboard-menu .navbar-nav > li > a:focus{
    border: 1px solid #d6d6d6;
}

.dashboard-menu .navbar-nav li{
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

.dashboard-menu .navbar-nav > li > a{
    margin-top: 0px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.6);
    border-style: solid solid none;
    border-width: 1px 1px 0px;
    font-size: 14px;
    line-height: 24px;
    padding: 24px 25px;
    position: relative;
    border-radius: 0px;
    color: #383838;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none;
}

.dropdown-menu > li > a{
    padding: 10px 20px;
}

.dashboard-menu .navbar-nav li:hover, .dashboard-menu .navbar-nav li.active:hover{
    background: #4c4c4c;
}

.dashboard-fluid{
    padding-right: 0px;
}

.dashboard-menu .navbar-nav > .active > a{
    background: none;
    color: #ffffff;
}

.dashboard-menu .navbar-nav > .active > a:hover{
    background: #4c4c4c;
    color: #ffffff;
}

.dashboard-menu .navbar-nav li.active{
    background: #56b056;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background: #56b056;
}

.book-list{
    list-style: none;
    padding: 0px;
}

/*ul .book-list{

}*/

ul.book-list li{
    display: inline-block;
    /*float: left;*/
    padding-top: 10px;
    margin-right: 20px;
}

ul.book-list li{
    text-align: center;
}

ul.book-list li:last-child{
    margin-right: 0px;
}

.huarang-cover{
    background: url(../images/huarang-cover.jpg);
}

.book-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.book-cover{
    width: 200px;
    height: 267px;
}

.img-cover{
    max-height: 267px;
    margin: 0 auto;
    text-align: center;
}

.book-author{
    margin: 5px 0px 10px 0px;
}

.play-btn a{
    padding: 5px 30px;
}

.panel-body{
    padding-bottom: 50px;
}

/* Data tables */

.dataTables_wrapper{
    margin-top: 20px;
}

.table.dataTable.no-footer{
    border-bottom: 1px solid #dddddd;
}

.dataTables_wrapper tr:hover{
    background: #f7f7f7;
}

.hashtagbtn {
    background: url(../images/hashtag_eps.png) !important;
}

.question {
    padding: 20px 10px 10px 10px;
}