@(message: String)(gamebooks: List[Gamebook])


@layout(".:: Хуаранг и Кумихо ::.") {
    <div class="row">

        <div class="clear"></div>

        <div class="col-md-12">

            <h2>Списък с книги-игри:</h2>

            <ul class="book-list">

                <li>

                    <div class="book-cover huarang-cover">

                    </div>

                    <div class="book-title">
                        Хуаранг и Кумихо
                    </div>

                    <div class="book-year">
                       2011
                    </div>

                    <div class="book-author">
                        от Лейдрин Суийвър
                    </div>

                    <div class="play-btn">
                        <a href="@routes.Application.home()" class="btn btn-success">Играй</a>
                    </div>


                </li>

                @for(gamebook <- gamebooks) {

                <li>
                    <div class="book-cover">

                    </div>

                    <div class="book-title">
                        @gamebook.getTitle()
                    </div>

                    <div class="book-year">
                        (@gamebook.getYear())
                    </div>

                    <div class="book-author">
                    от @gamebook.getAuthor
                    </div>

                    <div class="play-btn">
                        <a href="@controllers.routes.Library.displayGamebook(gamebook.getId())" class="btn btn-warning">Играй</a></li>
                    </div>
                }
            </ul>

        </div>


    </div>

}


