@(message: String)(gamebooks: List[Gamebook])

@layout(".:: Хуаранг и Кумихо ::.") {

    <div class="row">

        <div class="clear"></div>

        <div class="col-md-12">

            <h3>Списък с книги-игри:</h3>

            <ul style="list-style-type: decimal;">
                <li>Хуаранг и Кумихо (2011) от Радослав: <a href="@routes.Application.home()" class="btn btn-info">Играй</a></li>

                @for(gamebook <- gamebooks) {

                <li>@gamebook.getTitle() (@gamebook.getYear()) от @gamebook.getAuthor: <a href="@controllers.routes.Library.displayGamebook(gamebook.getId())" class="btn btn-info">Играй</a></li>
                }
            </ul>

        </div>


    </div>

}


