@(message: String)

@main(".:: Хуаранг и Кумихо ::.") {

<div class="row header">
    <div class="bird1"></div>
    <div class="logo"></div>
</div>

<div class="main-panel">
    <div class="bird2"></div>

    <div class="row">

        <div class="cold-md-12">
            @if(flash.contains("notice")) {
            <div class="alert alert-info">@flash.get("notice")</div>
            }
        </div>
        <div class="clear"></div>

        <div class="col-md-8">
            <h1 class="text-center">Правила за игра:</h1>
            <div class="instructions-text main-instructions">
                <div class="corner corner1"></div>
                <div class="corner corner2"></div>
                <div class="corner corner3"></div>
                <div class="corner corner4"></div>

                <p>Имаш 3 умения:<br/>
                    - едно, в което си <b>специалист</b><br/>
                    - едно, в което си <b>майстор</b><br/>
                    - едно легендарно <b>умение</b><br/>
                </p>


                <p>За да използваш умение, трябва да <b>платиш</b> за него с част от <b>ки-енергията</b> си. </br>
                    - Използването на легендарно умение не намалява ки-енергията
                    на Ким Ги Су. </br>
                    - Използването на умение, в което е майстор намалява
                    ки-енергията ти с <b>1</b> точка. </br>
                    - Използването на умение, в което е специалист намалява
                    ки-енергията ти с <b>2</b> точки. </br></p>

                <b>В началото на всяка игра започваш със следните точки:</b>
                <table>
                    <tr>
                        <td> Ки – енергия: </td>
                        <td> 5 </td>
                    </tr>
                    <tr>
                        <td> Издръжливост: </td>
                        <td> 5 </td>
                    </tr>
                    <tr>
                        <td> Познание: </td>
                        <td> 0 </td>
                    </tr>
                    <tr>
                        <td> Съзнание: </td>
                        <td> 2 </td>
                    </tr>
                </table>

                <p>В хода на историята степента на <b>познанията</b> ти ще нарастват.
                    Ако издръжливостта ти падне на 0, играта завършва и можеш да започнеш отначало.

                    Точките на <b>Съзнание</b> отразяват способността да се противопоставяш и издържаш
                    магически и психически атаки. Ако те станат равни на 0, значи хуаранг
                    е загинал. </p>

                <div class="form-group center">

                    <a href="@routes.Gamebook.savedGame()" class="btn back-btn">Продължи стара игра</a>

                    <a href="@routes.Gamebook.chooseSkill()" class="btn go-btn">Започни нова игра</a>

                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="warrior4"></div>
</div>



}

