@(message: String)(number: Integer)

@main("Home") {


<script type="text/javascript">
            $.ajax({
              dataType: "json",
              url: '@routes.Gamebook.generateEpisode(number)',
              data: 1,
              success: function(response){
                jsonData = response;
                displayEpisode(jsonData);
              }
            });

            function replaceAll(find, replace, str) {
                return str.replace(new RegExp(find, 'g'), replace);
            }

            function displayEpisode(data){

                data.text = fixLinks(data.text, data.episodeLinks);

                $('.episode').html(data.text);
            }

            function fixLinks(paragraph, links) {
                len = links.length;
                for(var i = 0; i < len; i++) {
                    l = links[i];

                    str = "<a href='" + l.goToEpisode + "' class='go-to-section'>" + l.text + "</a>";

                    re = new RegExp("###\\d+###");

                    paragraph = paragraph.replace(re, str);
                }
                return paragraph;
            }


</script>


<div class="row header">
    <div id="diary">
        <div class="row">
            <form>
                <div class="col-md-4">
                    <div class="instructions-text inventory-bg">
                        <div class="corner corner1"></div>
                        <div class="corner corner2"></div>
                        <div class="corner corner3"></div>
                        <div class="corner corner4"></div>
                        <div class="inventory">

                            <table>
                                <tr>
                                    <td><span class="glyphicon glyphicon-fire"></span>Ки-енергия:</td>
                                    <td><input type="text" class="form-control small-input" placeholder="5"></td>
                                </tr>

                                <tr>
                                    <td><span class="glyphicon glyphicon-heart-empty"></span>Издръжливост:</td>
                                    <td><input type="text" class="form-control small-input" placeholder="5"></td>
                                </tr>

                                <tr>
                                    <td><span class="glyphicon glyphicon-book"></span>Познание:</td>
                                    <td><input type="text" class="form-control small-input" placeholder="0"></td>
                                </tr>

                                <tr>
                                    <td><span class="glyphicon glyphicon-eye-open"></span>Съзнание:</td>
                                    <td><input type="text" class="form-control small-input" placeholder="2"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="key-words">
                        <h3>Кодови думи:</h3>

                        <p class="words"></p>

                        <input id="add-word-input" type="text" class="form-control" placeholder="Добави кодова дума">
                        <a id="add-key-word-btn" class="btn btn-default btn-grey">Добави</a>

                    </div>
                </div>

                <div class="separator"></div>

                <div class="col-md-2">

                    <div class="save-btn-frame"></div>

                    <div class="save-btn">
                        <button class="btn login-btn save-big-btn">Запази</button>
                    </div>

                    <div class="save-btn-frame"></div>
                </div>

                <div class="ribbon"></div>
            </form>
        </div>
    </div>
</div>

<div class="main-panel">
    <div class="bird2"></div>

    <div class="row">

        <div class="col-md-12 episode">
            <!--<h1 class="episode-title text-center"> .: Епизод 1 :. </h1>-->

        </div>
    </div>
</div>
<div class="footer-logo"></div>


}

