@(form: Form[Application.Login])

@main("Home") {
<div class="row header">
    <div class="bird1"></div>
    <div class="logo"></div>
</div>

<div class="login-panel">
    <div class="bird2"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">

            <p class="login-h2"> Създай акаунт: </p>

            <form class="login-form" method="post" action="@routes.Application.createUser()">
                <div class="form-group">
                    <input type="text" name="username" class="form-control input" placeholder="Потребителско име">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input" placeholder="Парола">
                </div>
                <div class="form-group">
                    <input type="password" name="confirm_password" class="form-control input" placeholder="Повтори парола">
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn login-btn">Регистрация</button>
                </div>
            </form>


        </div>
        <div class="col-md-2">
            <div class="vertical-separator"></div>
        </div>

        <div class="col-md-4 align-center">
            <p class="login-h2"> Вход: </p>
            @helper.form(routes.Application.authenticate) {

                <div class="form-group">
                    <input type="text" name="username" class="form-control input" placeholder="Потребителско име">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input" placeholder="Парола">
                </div>
                <div class="form-group center">
                    <button class="btn login-btn">Вход</button>
                </div>

            }
            @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
            }
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row instructions">
    <div class="col-md-3">
        <div class="warrior"></div>
    </div>
    <div class="col-md-6">
        <div class="instructions-text">
            <div class="corner corner1"></div>
            <div class="corner corner2"></div>
            <div class="corner corner3"></div>
            <div class="corner corner4"></div>
            <p>Какво знаете за Древна Корея? Интересен въпрос, нали? А знаете ли какво е хуаранг? Това е един от
                най-древните рицарски ордени, зародил се в кралство Шилла - eдно от трите древни корейски кралства.</p>

            <p>А знаете ли че лисицата е най-яркото олицетворение на злото в корейския фолклор? Там тя е демонично
                създание, с девет опашки, освен това може да приема човешка форма.</p>

            <p>Представяме ти една книга-игра, в която ТИ, читателю, си призван да бъдеш в ролята на героя хуаранг Ким
                Ги Су, който ще трябва да спаси едно прокълнато село. Ще ти е нужна находчивост, сила и търпение.
                Смелост и самоконтрол, а и не малка доза късмет. Но на първо място чувство за справедливост и
                чест...</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="woman"></div>
    </div>
</div>


}


