@(characterSheet: CharacterSheet)

@main("Home") {
<div class="row header">
    <div class="bird1"></div>
    <div class="logo"></div>
</div>

<div class="main-panel">
    <div class="bird2"></div>

    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">Стъпка 2: Бонуси</h1>

            <div class="instructions-text main-instructions">
                <div class="corner corner1"></div>
                <div class="corner corner2"></div>
                <div class="corner corner3"></div>
                <div class="corner corner4"></div>


                <p>Ти избра следните умения:</p>

                <p><strong>Специалист:</strong> @characterSheet.getSpecialty()</p>

                <p><strong>Майстор:</strong> @characterSheet.getMastery()</p>

                <p><strong>Легендарно умение:</strong>: @characterSheet.getLegendary()</p>

                <p><b>Бонуси от Легендарните умения.</b></p>

                <p>Спрямо умението, което си избрал за легендарно, се увеличават следните показатели:
                </p>


                <div class="form-group center">
                    <a href="@routes.Gamebook.chooseSkill()" class="btn back-btn">Назад</a>
                    <a href="@routes.Gamebook.displayEpisode(1)" class="btn go-btn">Започни игра</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="warrior2"></div>
</div>


}


