@(message: String)

@main(".:: Хуаранг и Кумихо ::.") {
<div class="row header">
    <div class="bird1"></div>
    <div class="logo"></div>
</div>

<div class="main-panel">
    <div class="bird2"></div>

    <div class="row">

        <div class="cold-md-12">
            @if(flash.contains("danger")) {
            <div class="alert alert-danger">@flash.get("danger")</div>
            }
        </div>
        <div class="clear"></div>

        <div class="col-md-8">
            <h1 class="text-center">Стъпка 1: Избери умения</h1>

            <div class="instructions-text main-instructions">
                <div class="corner corner1"></div>
                <div class="corner corner2"></div>
                <div class="corner corner3"></div>
                <div class="corner corner4"></div>

                Избери едно умение, в което си специалист, едно умение, в което си майстор и легендарно умение от
                посочената по-долу таблица:

                <form action="@routes.Gamebook.saveSkill()" method="post" id="skills">

                    <input type="hidden" name="energy" value="5">
                    <input type="hidden" name="wisdom" value="0">
                    <input type="hidden" name="mind" value="2">
                    <input type="hidden" name="stamina" value="5">
                    <input type="hidden" name="codewords" value="">

                    <table>
                        <tr>
                            <th>Умение</th>
                            <th>Специалист</th>
                            <th>Майстор</th>
                            <th>Легендарно умение:</th>
                        </tr>


                        <tr>
                            <td>Бой с меч</td>
                            <td><input type="radio" name="specialty" value="Бой с меч" checked><br></td>
                            <td><input type="radio" name="mastery" value="Бой с меч" checked><br></td>
                            <td><input type="radio" name="legendary" value="Бой с меч" checked><br></td>
                        </tr>

                        <tr>
                            <td>Стрелба с лък</td>
                            <td><input type="radio" name="specialty" value="Стрелба с лък"><br></td>
                            <td><input type="radio" name="mastery" value="Стрелба с лък"><br></td>
                            <td><input type="radio" name="legendary" value="Стрелба с лък"><br></td>
                        </tr>

                        <tr>
                            <td>Рефлекс</td>
                            <td><input type="radio" name="specialty" value="Рефлекс"><br></td>
                            <td><input type="radio" name="mastery" value="Рефлекс"><br></td>
                            <td><input type="radio" name="legendary" value="Рефлекс"><br></td>
                        </tr>

                        <tr>
                            <td>Късмет</td>
                            <td><input type="radio" name="specialty" value="Късмет"><br></td>
                            <td><input type="radio" name="mastery" value="Късмет"><br></td>
                            <td><input type="radio" name="legendary" value="Късмет"><br></td>
                        </tr>

                        <tr>
                            <td>Шаманизъм</td>
                            <td><input type="radio" name="specialty" value="Шаманизъм"><br></td>
                            <td><input type="radio" name="mastery" value="Шаманизъм"><br></td>
                            <td><input type="radio" name="legendary" value="Шаманизъм"><br></td>
                        </tr>

                        <tr>
                            <td>Харизма</td>
                            <td><input type="radio" name="specialty" value="Харизма"><br></td>
                            <td><input type="radio" name="mastery" value="Харизма"><br></td>
                            <td><input type="radio" name="legendary" value="Харизма"><br></td>
                        </tr>

                        <tr>
                            <td>Самоконтрол</td>
                            <td><input type="radio" name="specialty" value="Самоконтрол"><br></td>
                            <td><input type="radio" name="mastery" value="Самоконтрол"><br></td>
                            <td><input type="radio" name="legendary" value="Самоконтрол"><br></td>
                        </tr>

                        <tr>
                            <td>Имунитет към отрови</td>
                            <td><input type="radio" name="specialty" value="Имунитет към отрови"><br></td>
                            <td><input type="radio" name="mastery" value="Имунитет към отрови"><br></td>
                            <td><input type="radio" name="legendary" value="Имунитет към отрови"><br></td>
                        </tr>

                    </table>
                </form>

                <div class="form-group center">
                    <a href="@routes.Application.home()" class="btn back-btn">Назад</a>
                    <button class="btn login-btn" type="submit" form="skills">Напред</button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="warrior3"></div>
</div>


}


