@(message: String)

@main("Home") {
<div class="row header">
    <div class="bird1"></div>
    <div class="logo"></div>
</div>

<div class="main-panel">
    <div class="bird2"></div>

    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center">Стъпка 1: Избери умения</h1>

            <div class="instructions-text main-instructions">
                <div class="corner corner1"></div>
                <div class="corner corner2"></div>
                <div class="corner corner3"></div>
                <div class="corner corner4"></div>

                Избери едно умение, в което си специалист, едно умение, в което си майстор и легендарно умение от
                посочената по-долу таблица:

                <form>
                    <table>
                        <tr>
                            <th>Умение</th>
                            <th>Специалист</th>
                            <th>Майстор</th>
                            <th>Легендарно умение:</th>
                        </tr>


                        <tr>
                            <td>Бой с меч</td>
                            <td><input type="radio" name="specialist" value="boi-s-mech" checked><br></td>
                            <td><input type="radio" name="maistor" value="boi-s-mech" checked><br></td>
                            <td><input type="radio" name="legendary" value="boi-s-mech" checked><br></td>
                        </tr>

                        <tr>
                            <td>Стрелба с лък</td>
                            <td><input type="radio" name="specialist" value="strelka-s-luk"><br></td>
                            <td><input type="radio" name="maistor" value="strelka-s-luk"><br></td>
                            <td><input type="radio" name="legendary" value="strelka-s-luk"><br></td>
                        </tr>

                        <tr>
                            <td>Рефлекс</td>
                            <td><input type="radio" name="specialist" value="refleks"><br></td>
                            <td><input type="radio" name="maistor" value="refleks"><br></td>
                            <td><input type="radio" name="legendary" value="refleks"><br></td>
                        </tr>

                        <tr>
                            <td>Късмет</td>
                            <td><input type="radio" name="specialist" value="kusmet"><br></td>
                            <td><input type="radio" name="maistor" value="kusmet"><br></td>
                            <td><input type="radio" name="legendary" value="kusmet"><br></td>
                        </tr>

                        <tr>
                            <td>Шаманизъм</td>
                            <td><input type="radio" name="specialist" value="shamanizym"><br></td>
                            <td><input type="radio" name="maistor" value="shamanizym"><br></td>
                            <td><input type="radio" name="legendary" value="shamanizym"><br></td>
                        </tr>

                        <tr>
                            <td>Харизма</td>
                            <td><input type="radio" name="specialist" value="harizma"><br></td>
                            <td><input type="radio" name="maistor" value="harizma"><br></td>
                            <td><input type="radio" name="legendary" value="harizma"><br></td>
                        </tr>

                        <tr>
                            <td>Самоконтрол</td>
                            <td><input type="radio" name="specialist" value="samokontrol"><br></td>
                            <td><input type="radio" name="maistor" value="samokontrol"><br></td>
                            <td><input type="radio" name="legendary" value="samokontrol"><br></td>
                        </tr>

                        <tr>
                            <td>Имунитет към отрови</td>
                            <td><input type="radio" name="specialist" value="imunitet-kum-otrovi"><br></td>
                            <td><input type="radio" name="maistor" value="imunitet-kum-otrovi"><br></td>
                            <td><input type="radio" name="legendary" value="imunitet-kum-otrovi"><br></td>
                        </tr>

                    </table>
                </form>

                <div class="form-group center">
                    <a href="home.html" class="btn back-btn">Назад</a>
                    <a href="step2.html" class="btn go-btn">Напред</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="warrior3"></div>
</div>


}


